header {
    background-image: url(../pictures/header/headerpicture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .top-header {
        display: flex;
        justify-content: space-between;
        padding-top: 5%;
        #logo-dark {
            height: 58px;
        }
        .top-header-right {
            width: 45%;
            .top-header-right-top {
                display: flex;
                align-items: center;
                justify-content:flex-end;
                a {
                    font-weight: 700;
                    margin-left: 2%;
                }
            }
            .top-header-right-bottom {
                position: relative;
                z-index: 2;
                display: flex;
                justify-content: space-between;
                padding: 4% 0 0 0;
                a {
                    font-family: "Bebas Neue";
                    font-weight: 700;
                    font-size: 21px;
                    letter-spacing: 2px;
                }
            }
        }
    }
    .bottom-header {
        display: flex;
        justify-content: space-between;
        @include lt-xl{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            padding-top: 10%;
        }
        .bottom-header-left {
            padding-top: 10%;
            p {
                font-family: "Bebas Neue";
                font-size: min(max(17px, 7vw), 21px);
                border: 2px dashed #3d2514;
                width: fit-content;
                padding: 0.5% 1%;
            }
            h1 {
                font-family: "Alfa Slab One";
                font-size: min(max(50px, 10vw), 100px);
                font-weight: 400;
                -webkit-text-shadow: 5px 4px 4px rgb(255 255 255 / 75%);
                -moz-text-shadow: 5px 4px 4px rgb(255 255 255 / 75%);
                text-shadow: 5px 4px 4px rgb(255 255 255 / 75%);
            }
            h2 {
                font-family: "Alfa Slab One";
                font-size: min(max(30px, 7vw), 52px);
                font-weight: 400;
                margin-top: -1%;
                -webkit-text-shadow: 5px 4px 4px rgb(255 255 255 / 75%);
                -moz-text-shadow: 5px 4px 4px rgb(255 255 255 / 75%);
                text-shadow: 5px 4px 4px rgb(255 255 255 / 75%);
            }
        }
        .bottom-header-right {
            position: relative;
            .red-price{
                width: 100%;
                max-width: 1150px;
                bottom: 20%;
                position: absolute;
                height: 100%;
              .price-sale {
                background-color: #bf2121;
                border-radius: 50%;
                position: absolute;
                z-index: 2;
                max-width: 220px;
                height: 220px;
                width: 100%;
                bottom: 0;
                display: flex;
                left: 15%;
                transform: translate(-15%, 0);
                align-items: center;
                justify-content: center;
                @include lt-md{
                    max-width: 135px;
                    height: 135px;
                }
                .price {
                    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='6' stroke-dasharray='12' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
                    font-family: "Bebas Neue";
                    font-weight: 700;
                    font-size: min(max(25px, 4vw), 38px);
                    color: white;
                    border-radius: 50%;
                    width: 190px;
                    height: 190px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include lt-md{
                        width: 120px;
                        height: 120px;
                    }
                        .price-text{
                           p{
                            display: flex;
                            align-items: flex-end;
                           } 
                           display: grid;
                           grid-template-columns: auto;
                        }
                    b {
                        font-size: min(max(40px, 7vw), 62px);
                    }
                    span {
                        max-width: 100%;
                        display: flex;
                        justify-content: space-between;
                        i {
                            font-style: normal;
                        }
                    }
                }
            }  
            }
            
            img {
                bottom: 20%;
                position: relative;
                max-width: 1150px;
                width: 100%;
                object-position: center;
                object-fit: cover;
            }
        }
    }
}
.scooter{
    margin-right: 10px;
}