.try-today {
    padding-top: 5%;
    .margin {
        display: grid;
        grid-template-columns: auto auto;
        gap: 3%;
        @include lt-xl {
            grid-template-columns: repeat(1, 1fr);
            row-gap: normal;
        }
        p {
            position: absolute;
            z-index: 2;
            color: white;
            font-size: min(max(19px, 7vw), 25px);
            font-family: "Bebas Neue";
            left: 25px;
            top: 25px;
            span {
                font-size: min(max(28px, 7vw), 40px);
                font-weight: 700;
            }
        }
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: relative;
            border-radius: 15px;
            @include lt-xl {
                height: min(max(220px, 40vw), 345px);
            }
        }
        .try-burger-one {
            grid-row: span 2;
            position: relative;
            @include lt-xl {
                grid-row: span 1;
            }
        }
        .try-burger-two {
            position: relative;
        }
        .try-burger-three {
            position: relative;
        }
    }
}
.choose-end-enjoy {
    margin-top: 5%;
    text-align: center;
    .always-tasty-burger {
        width: fit-content;
        background-color: rgba(255, 192, 69, 1);
        font-family: "Bebas Neue";
        font-weight: 700;
        font-size: 25px;
        margin: 0 auto;
        padding: 1%;
    }
    h2 {
        font-size: min(max(40px, 7vw), 50px);
        font-family: "Alfa Slab One";
        margin: 2% 0 1% 0;
    }
    p {
        max-width: 80%;
        margin: 0 auto;
    }
    .choose-burger {
        margin: 5% 0;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        @include lt-md {
            grid-template-columns: repeat(1,1fr);
            row-gap: 10px;
        }
        img {
            height: min(max(250px, 20vw), 325px);
            width: 100%;
            max-width: 100%;
            object-fit: contain;
            object-position: center;
        }
        span {
            margin-top: 5%;
            font-size: min(max(28px, 4vw), 38px);
            font-weight: 700;
            font-family: "Bebas Neue";
        }
        p {
            margin-top: 4%;
        }
        button {
            background-color: #bf2121;
            font-family: "Alfa Slab One";
            color: white;
            padding: 3%;
            border: none;
            max-width: 180px;
            width: 100%;
            margin-top: 8%;
        }
    }
}
.upcoming-events {
    margin-bottom: 5%;
    .item {
        height: 550px;
        margin-top: 15px;
        @include lt-md{
            height: 700px;
        }
    }
    .slide {
        display: grid;
        grid-template-columns: 50% 50%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        max-width: 90%;
        margin: 0 auto;
        padding: 2%;
        @include lt-md {
            grid-template-columns: 100%;
        }
        .upcoming-events-left {
            padding: 5%;
            h3 {
                font-family: "Bebas Neue";
                font-weight: 700;
                font-size: min(max(20px, 10vw), 29px);
            }
            h4 {
                font-family: "Alfa Slab One";
                font-size: min(max(30px, 3vw), 42px);
                margin-bottom: 8%;
            }
            p {
                font-size: min(max(17px, 4vw), 21px);
            }
        }
        .upcoming-events-right {
            height: 100%;
            max-width: 100%;
            width: 100%;
            img {
                height: 435px;
                max-width: 100%;
                object-fit: cover;
                width: 100%;
                object-position: center;
                @include lt-md {
                    height: 250px;
                }
            }
        }
    }
}

.upcoming-events .upcoming-events-slide .slick-dots li button:before {
    font-size: 80px;
}
.upcoming-events .upcoming-events-slide .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #ffbf45;
}
.upcoming-events .upcoming-events-slide .slick-dots {
    bottom: 22%;
    text-align: left;
    margin-left: 8%;
    max-width: 92%;
}
.upcoming-events .upcoming-events-slide .slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    color: #ffbf45;
    opacity: 0.5;
}
.book-your-table {
    position: relative;
    z-index: 3;
    height: 100%;
    overflow: hidden;
    padding-bottom: 10%;
    .book-your-table-inner-section {
        position: relative;
        z-index: 3;
        max-width: fit-content;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        max-width: 780px;
        height: 100%;
        @include lt-lg{
            max-width: 80%;
        }
        @include lt-md{
            max-width: 100%;
        }
        h3 {
            font-family: "Bebas Neue";
            font-weight: 700;
            font-size: 29px;
        }
        h4 {
            font-family: "Alfa Slab One";
            font-size: 42px;
            margin-bottom: 8%;
        }
        .book-data {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 3%;
            @include lt-md {
                grid-template-columns: repeat(1,1fr);
                max-width: 80%;
                margin: 0 auto;
                gap: 0;
            }
            input {
                height: 60px;
                padding: 20px 20px 15px 20px;
                width: 100%;
                margin-bottom: 7%;
                border-radius: 6px;
                border: 1px solid rgb(158, 156, 156);
            }
            input::placeholder {
                font-family: "Bebas Neue";
                font-size: 21px;
                font-size: 400;
                color: #3d3d3d;
            }
            input[type="submit"] {
                padding: 10px;
                background-color: rgba(191, 34, 34, 1);
                font-family: "Alfa Slab One";
                font-size: 21px;
                color: white;
                cursor: pointer;
            }
        }
    }
}
.book-your-table::before {
    background-image: url(../pictures/Burgertop.png);
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    bottom: -7%;
    right: -17%;
    width: 610px;
    height: 110%;
    animation: rotation 20s infinite linear;
    @include lt-xl{
        animation: none;
    }
}

.book-your-table-inner-section::before {
    background-image: url(../pictures/Bottle.png);
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    bottom: -30%;
    left: -33%;
    width: 60%;
    height: 110%;
    @include lt-md{
        left: -10%;
    }
    @include lt-sm{
        display: none;
    }
}
.book-your-table::after {
    background-image: url(../pictures/Burger-2.png);
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    z-index: 2;
    top: -6%;
    left: -5%;
    width: 400px;
    height: 100%;
    animation: rotation 20s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}
.contact {
    margin-top: 5%;
    text-align: center;
    h2 {
        font-family: "Alfa Slab One";
        font-size: 50px;
        margin-bottom: 2%;
        font-style: normal;
        text-align: center;
    }
    a {
        font-family: "Bebas Neue";
        font-size: 25px;
    }
}
iframe{
    width: 100%;
}
