@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alfa Slab One";
  src: url("../fonts/AlfaSlabOne-Regular.woff2") format("woff2"), url("../fonts/AlfaSlabOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: "Montserrat";
  background-color: white;
  color: #3D2514;
  font-weight: 400;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: #3D2514;
}

.margin {
  width: 90%;
  margin: 0 auto;
}

header {
  background-image: url(../pictures/header/header\ picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header .top-header {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}
header .top-header #logo-dark {
  height: 58px;
}
header .top-header .top-header-right {
  width: 45%;
}
header .top-header .top-header-right .top-header-right-top {
  display: flex;
  align-items: center;
  justify-content: end;
}
header .top-header .top-header-right .top-header-right-top a {
  font-weight: 700;
  margin-left: 2%;
}
header .top-header .top-header-right .top-header-right-bottom {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 4% 0 0 0;
}
header .top-header .top-header-right .top-header-right-bottom a {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 2px;
}
header .bottom-header {
  display: flex;
  justify-content: space-between;
}
header .bottom-header .bottom-header-left {
  padding-top: 10%;
}
header .bottom-header .bottom-header-left p {
  font-family: "Bebas Neue";
  font-size: 21px;
  border: 2px dashed #3d2514;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5% 1%;
}
header .bottom-header .bottom-header-left h1 {
  font-family: "Alfa Slab One";
  font-size: 100px;
  font-weight: 400;
  -webkit-text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
  -moz-text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
  text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
}
header .bottom-header .bottom-header-left h2 {
  font-family: "Alfa Slab One";
  font-size: 52px;
  font-weight: 400;
  margin-top: -1%;
  -webkit-text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
  -moz-text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
  text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
}
header .bottom-header .bottom-header-right {
  position: relative;
}
header .bottom-header .bottom-header-right .red-price {
  width: 100%;
  max-width: 1150px;
  bottom: 20%;
  position: absolute;
  height: 100%;
}
header .bottom-header .bottom-header-right .red-price .price-sale {
  background-color: #bf2121;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  padding: 2%;
  max-width: 200px;
  width: 100%;
  bottom: 0;
  left: 15%;
  transform: translate(-15%, 0);
}
header .bottom-header .bottom-header-right .red-price .price-sale .price {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='6' stroke-dasharray='12' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 38px;
  color: white;
  border-radius: 50%;
  padding: 20%;
  width: 100%;
  text-align: center;
}
header .bottom-header .bottom-header-right .red-price .price-sale .price b {
  font-size: 62px;
}
header .bottom-header .bottom-header-right .red-price .price-sale .price span {
  display: flex;
  justify-content: space-between;
}
header .bottom-header .bottom-header-right .red-price .price-sale .price span i {
  font-style: normal;
}
header .bottom-header .bottom-header-right img {
  bottom: 20%;
  position: relative;
  max-width: 1150px;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.try-today {
  padding-top: 5%;
}
.try-today .margin {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3%;
}
.try-today .margin p {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 25px;
  font-family: "Bebas Neue";
  left: 25px;
  top: 25px;
}
.try-today .margin p span {
  font-size: 40px;
  font-weight: 700;
}
.try-today .margin img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  border-radius: 15px;
}
.try-today .margin .try-burger-one {
  grid-row: span 2;
  position: relative;
}
.try-today .margin .try-burger-two {
  position: relative;
}
.try-today .margin .try-burger-three {
  position: relative;
}

.choose-end-enjoy {
  margin-top: 5%;
  text-align: center;
}
.choose-end-enjoy .always-tasty-burger {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(255, 192, 69);
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 25px;
  margin: 0 auto;
  padding: 1%;
}
.choose-end-enjoy h2 {
  font-size: 50px;
  font-family: "Alfa Slab One";
  margin: 2% 0 1% 0;
}
.choose-end-enjoy p {
  max-width: 80%;
  margin: 0 auto;
}
.choose-end-enjoy .choose-burger {
  margin: 5% 0;
  display: grid;
  grid-template-columns: auto auto auto;
}
.choose-end-enjoy .choose-burger img {
  height: 325px;
  width: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.choose-end-enjoy .choose-burger span {
  margin-top: 5%;
  font-size: 38px;
  font-weight: 700;
  font-family: "Bebas Neue";
}
.choose-end-enjoy .choose-burger p {
  margin-top: 4%;
}
.choose-end-enjoy .choose-burger button {
  background-color: #bf2121;
  font-family: "Alfa Slab One";
  color: white;
  padding: 3%;
  border: none;
  max-width: 180px;
  width: 100%;
  margin-top: 8%;
}

.upcoming-events {
  margin-bottom: 10%;
}
.upcoming-events .item {
  height: 550px;
  margin-top: 15px;
}
.upcoming-events .slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  max-width: 90%;
  margin: 0 auto;
  height: 500px;
  padding: 2%;
}
.upcoming-events .slide .upcoming-events-left {
  padding: 5%;
}
.upcoming-events .slide .upcoming-events-left h3 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 29px;
}
.upcoming-events .slide .upcoming-events-left h4 {
  font-family: "Alfa Slab One";
  font-size: 42px;
  margin-bottom: 8%;
}
.upcoming-events .slide .upcoming-events-left p {
  font-size: 21px;
}
.upcoming-events .slide .upcoming-events-right {
  height: 100%;
  max-width: 100%;
  width: 100%;
}
.upcoming-events .slide .upcoming-events-right img {
  height: 435px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -o-object-position: center;
     object-position: center;
}

.upcoming-events .upcoming-events-slide .slick-dots li button:before {
  font-size: 80px;
}

.upcoming-events .upcoming-events-slide .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #ffbf45;
}

.upcoming-events .upcoming-events-slide .slick-dots {
  bottom: 22%;
  text-align: left;
  margin-left: 8%;
  max-width: 92%;
}

.upcoming-events .upcoming-events-slide .slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  color: #ffbf45;
  opacity: 0.5;
}

.book-your-table {
  position: relative;
  z-index: 3;
  height: 630px;
  overflow: hidden;
  padding-bottom: 5%;
}
.book-your-table .book-your-table-inner-section {
  position: relative;
  z-index: 3;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  max-width: 780px;
  height: 530px;
}
.book-your-table .book-your-table-inner-section h3 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 29px;
}
.book-your-table .book-your-table-inner-section h4 {
  font-family: "Alfa Slab One";
  font-size: 42px;
  margin-bottom: 8%;
}
.book-your-table .book-your-table-inner-section .book-data {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3%;
}
.book-your-table .book-your-table-inner-section .book-data input {
  height: 60px;
  padding: 20px 20px 15px 20px;
  width: 100%;
  margin-bottom: 7%;
  border-radius: 6px;
  border: 1px solid rgb(158, 156, 156);
}
.book-your-table .book-your-table-inner-section .book-data input::-moz-placeholder {
  font-family: "Bebas Neue";
  font-size: 21px;
  font-size: 400;
  color: #3D3D3D;
}
.book-your-table .book-your-table-inner-section .book-data input:-ms-input-placeholder {
  font-family: "Bebas Neue";
  font-size: 21px;
  font-size: 400;
  color: #3D3D3D;
}
.book-your-table .book-your-table-inner-section .book-data input::placeholder {
  font-family: "Bebas Neue";
  font-size: 21px;
  font-size: 400;
  color: #3D3D3D;
}
.book-your-table .book-your-table-inner-section .book-data input[type=submit] {
  padding: 10px;
  background-color: rgb(191, 34, 34);
  font-family: "Alfa Slab One";
  font-size: 21px;
  color: white;
}

.book-your-table::before {
  background-image: url(../pictures/Burger\ top.png);
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
  bottom: -10%;
  right: -17%;
  width: 40%;
  height: 100%;
  -webkit-animation: rotation 20s infinite linear;
          animation: rotation 20s infinite linear;
}
@media screen and (max-width: 1399px) {
  .book-your-table::before {
    width: 100%;
  }
}

.book-your-table-inner-section::before {
  background-image: url(../pictures/Bottle.png);
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
  bottom: -13%;
  left: -35%;
  width: 40%;
  height: 100%;
}

.book-your-table::after {
  background-image: url(../pictures/Burger\ 2.png);
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  z-index: 2;
  top: -6%;
  left: -5%;
  width: 28%;
  height: 100%;
  -webkit-animation: rotation 20s infinite linear;
          animation: rotation 20s infinite linear;
}
@media screen and (max-width: 1399px) {
  .book-your-table::after {
    width: 100%;
  }
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}
footer .footer {
  background-image: url(../pictures/footer/footer\ picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding-top: 5%;
  margin-bottom: 3%;
}
footer .footer .footer-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  padding: 0 5%;
}
footer .footer .footer-left {
  padding-bottom: 15%;
}
footer .footer .footer-left p {
  margin: 5% 0;
}
footer .footer .footer-right {
  font-size: 21px;
  font-family: "Bebas Neue";
  font-weight: 700;
  max-width: 400px;
  width: 100%;
  margin: 20% auto 0 auto;
}
footer .footer .footer-right .footer-right-top {
  margin-bottom: 3%;
  display: flex;
  align-items: center;
}
footer .footer .footer-right .footer-right-bottom {
  display: flex;
  align-items: center;
}
footer .footer .footer-right a {
  color: white;
  margin-left: 2%;
}
footer .footer .copyrights .margin {
  padding-bottom: 1%;
}
footer .footer .copyrights .margin p a {
  color: white;
}
footer .footer .copyrights .margin .media {
  display: flex;
  justify-content: flex-end;
}
footer .footer .copyrights .margin .media a {
  margin-left: 2%;
}/*# sourceMappingURL=main.css.map */