@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alfa Slab One";
  src: url("../fonts/AlfaSlabOne-Regular.woff2") format("woff2"), url("../fonts/AlfaSlabOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: "Montserrat";
  background-color: white;
  color: #3D2514;
  font-weight: 400;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: #3D2514;
}

.margin {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .margin {
    width: 96%;
  }
}
@media screen and (max-width: 767px) {
  .margin {
    width: 98%;
  }
}

.nav-menu .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-menu .menu-top {
  display: none;
}
.nav-menu .menu-top a {
  width: 100%;
  text-decoration: none;
  color: white;
}

.nav-menu ul.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 0;
  border-top: 1px solid rgba(61, 37, 20, 0.3764705882);
}

.nav-menu ul.nav-list {
  display: none;
}

@media screen and (max-width: 1199px) {
  .nav-menu ul.nav-list {
    display: block;
  }
}
.nav-menu ul.nav-list li {
  margin-bottom: 0;
}

.nav-menu ul.nav-list li a {
  color: #3D2514;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.nav-menu ul.nav-list li a:hover {
  color: #3D2514;
}

.nav-menu ul.nav-list li a.active {
  color: #3D2514;
}

.mobile .logo {
  display: none;
}

html.no-scroll {
  overflow-y: hidden;
}

.mobile .logoo {
  display: none;
}
.mobile .logoo img {
  width: 170px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  padding: 15px 5px 5px 15px;
}

@media only screen and (max-width: 1200px) {
  .header {
    display: none;
  }
  .mobile .logo {
    display: flex;
    margin-bottom: 2%;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
  }
  .mobile .logoo {
    display: flex;
    transition: 0.5s ease-in-out;
  }
  .mobile {
    position: absolute;
    background-color: #ffbf45;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 6;
  }
  .nav-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0vw;
    background: #ffbf45;
    opacity: 0;
    transform: translateX(0vw);
    z-index: 98;
    transition: 0.4s ease-in-out;
  }
  .nav-menu .wrapper {
    padding-top: 70px;
    flex-direction: column;
    background-color: #ffbf45;
  }
  .nav-menu ul.nav-list {
    flex-direction: column;
    padding-left: 0;
    width: 100%;
    height: calc(100vh - 126px);
    overflow-y: auto;
    background-color: #ffbf45;
  }
  .nav-menu ul.nav-list li {
    width: 100%;
  }
  .nav-menu ul.nav-list li a {
    font-size: 18px;
    font-weight: 800;
    margin: 0;
    width: 100%;
    display: block;
    padding: 18px;
    text-align: center;
  }
  .nav-menu .menu-top {
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;
  }
  .nav-menu.open {
    opacity: 1;
    width: 100vw;
    transform: translateX(0vw);
    transition: all 0.6s ease-in-out;
  }
  .no-scroll .logoo {
    opacity: 0;
  }
}
.hamburger {
  position: relative;
  z-index: 99;
  float: right;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 1;
}

.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #3D2514;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #3D2514;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

button.hamburger:hover {
  background: transparent;
}

button.hamburger {
  max-width: 80px;
  height: 60px;
}

@media only screen and (min-width: 1201px) {
  .hamburger {
    display: none;
  }
}
header {
  background-image: url(../pictures/header/header\ picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header .top-header {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}
header .top-header #logo-dark {
  height: 58px;
}
header .top-header .top-header-right {
  width: 45%;
}
header .top-header .top-header-right .top-header-right-top {
  display: flex;
  align-items: center;
  justify-content: end;
}
header .top-header .top-header-right .top-header-right-top a {
  font-weight: 700;
  margin-left: 2%;
}
header .top-header .top-header-right .top-header-right-bottom {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 4% 0 0 0;
}
header .top-header .top-header-right .top-header-right-bottom a {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 2px;
}
header .bottom-header {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  header .bottom-header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 10%;
  }
}
header .bottom-header .bottom-header-left {
  padding-top: 10%;
}
header .bottom-header .bottom-header-left p {
  font-family: "Bebas Neue";
  font-size: min(max(17px, 7vw), 21px);
  border: 2px dashed #3d2514;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5% 1%;
}
header .bottom-header .bottom-header-left h1 {
  font-family: "Alfa Slab One";
  font-size: min(max(50px, 10vw), 100px);
  font-weight: 400;
  -webkit-text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
  -moz-text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
  text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
}
header .bottom-header .bottom-header-left h2 {
  font-family: "Alfa Slab One";
  font-size: min(max(30px, 7vw), 52px);
  font-weight: 400;
  margin-top: -1%;
  -webkit-text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
  -moz-text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
  text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
}
header .bottom-header .bottom-header-right {
  position: relative;
}
header .bottom-header .bottom-header-right .red-price {
  width: 100%;
  max-width: 1150px;
  bottom: 20%;
  position: absolute;
  height: 100%;
}
header .bottom-header .bottom-header-right .red-price .price-sale {
  background-color: #bf2121;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  max-width: 220px;
  height: 220px;
  width: 100%;
  bottom: 0;
  display: flex;
  left: 15%;
  transform: translate(-15%, 0);
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  header .bottom-header .bottom-header-right .red-price .price-sale {
    max-width: 135px;
    height: 135px;
  }
}
header .bottom-header .bottom-header-right .red-price .price-sale .price {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='6' stroke-dasharray='12' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: min(max(25px, 4vw), 38px);
  color: white;
  border-radius: 50%;
  width: 190px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  header .bottom-header .bottom-header-right .red-price .price-sale .price {
    width: 120px;
    height: 120px;
  }
}
header .bottom-header .bottom-header-right .red-price .price-sale .price .price-text {
  display: grid;
  grid-template-columns: auto;
}
header .bottom-header .bottom-header-right .red-price .price-sale .price .price-text p {
  display: flex;
  align-items: flex-end;
}
header .bottom-header .bottom-header-right .red-price .price-sale .price b {
  font-size: min(max(40px, 7vw), 62px);
}
header .bottom-header .bottom-header-right .red-price .price-sale .price span {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
header .bottom-header .bottom-header-right .red-price .price-sale .price span i {
  font-style: normal;
}
header .bottom-header .bottom-header-right img {
  bottom: 20%;
  position: relative;
  max-width: 1150px;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.try-today {
  padding-top: 5%;
}
.try-today .margin {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3%;
}
@media screen and (max-width: 1199px) {
  .try-today .margin {
    grid-template-columns: repeat(1, 1fr);
    row-gap: normal;
  }
}
.try-today .margin p {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: min(max(19px, 7vw), 25px);
  font-family: "Bebas Neue";
  left: 25px;
  top: 25px;
}
.try-today .margin p span {
  font-size: min(max(28px, 7vw), 40px);
  font-weight: 700;
}
.try-today .margin img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  border-radius: 15px;
}
@media screen and (max-width: 1199px) {
  .try-today .margin img {
    height: min(max(220px, 40vw), 345px);
  }
}
.try-today .margin .try-burger-one {
  grid-row: span 2;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .try-today .margin .try-burger-one {
    grid-row: span 1;
  }
}
.try-today .margin .try-burger-two {
  position: relative;
}
.try-today .margin .try-burger-three {
  position: relative;
}

.choose-end-enjoy {
  margin-top: 5%;
  text-align: center;
}
.choose-end-enjoy .always-tasty-burger {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(255, 192, 69);
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 25px;
  margin: 0 auto;
  padding: 1%;
}
.choose-end-enjoy h2 {
  font-size: min(max(40px, 7vw), 50px);
  font-family: "Alfa Slab One";
  margin: 2% 0 1% 0;
}
.choose-end-enjoy p {
  max-width: 80%;
  margin: 0 auto;
}
.choose-end-enjoy .choose-burger {
  margin: 5% 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 767px) {
  .choose-end-enjoy .choose-burger {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }
}
.choose-end-enjoy .choose-burger img {
  height: min(max(250px, 20vw), 325px);
  width: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.choose-end-enjoy .choose-burger span {
  margin-top: 5%;
  font-size: min(max(28px, 4vw), 38px);
  font-weight: 700;
  font-family: "Bebas Neue";
}
.choose-end-enjoy .choose-burger p {
  margin-top: 4%;
}
.choose-end-enjoy .choose-burger button {
  background-color: #bf2121;
  font-family: "Alfa Slab One";
  color: white;
  padding: 3%;
  border: none;
  max-width: 180px;
  width: 100%;
  margin-top: 8%;
}

.upcoming-events {
  margin-bottom: 10%;
}
.upcoming-events .item {
  height: 550px;
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .upcoming-events .item {
    height: 700px;
  }
}
.upcoming-events .slide {
  display: grid;
  grid-template-columns: 50% 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  max-width: 90%;
  margin: 0 auto;
  padding: 2%;
}
@media screen and (max-width: 767px) {
  .upcoming-events .slide {
    grid-template-columns: 100%;
  }
}
.upcoming-events .slide .upcoming-events-left {
  padding: 5%;
}
.upcoming-events .slide .upcoming-events-left h3 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: min(max(20px, 10vw), 29px);
}
.upcoming-events .slide .upcoming-events-left h4 {
  font-family: "Alfa Slab One";
  font-size: min(max(30px, 3vw), 42px);
  margin-bottom: 8%;
}
.upcoming-events .slide .upcoming-events-left p {
  font-size: min(max(17px, 4vw), 21px);
}
.upcoming-events .slide .upcoming-events-right {
  height: 100%;
  max-width: 100%;
  width: 100%;
}
.upcoming-events .slide .upcoming-events-right img {
  height: 435px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 767px) {
  .upcoming-events .slide .upcoming-events-right img {
    height: 250px;
  }
}

.upcoming-events .upcoming-events-slide .slick-dots li button:before {
  font-size: 80px;
}

.upcoming-events .upcoming-events-slide .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #ffbf45;
}

.upcoming-events .upcoming-events-slide .slick-dots {
  bottom: 22%;
  text-align: left;
  margin-left: 8%;
  max-width: 92%;
}

.upcoming-events .upcoming-events-slide .slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  color: #ffbf45;
  opacity: 0.5;
}

.book-your-table {
  position: relative;
  z-index: 3;
  height: 630px;
  overflow: hidden;
  padding-bottom: 5%;
}
.book-your-table .book-your-table-inner-section {
  position: relative;
  z-index: 3;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  max-width: 780px;
  height: 530px;
}
.book-your-table .book-your-table-inner-section h3 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 29px;
}
.book-your-table .book-your-table-inner-section h4 {
  font-family: "Alfa Slab One";
  font-size: 42px;
  margin-bottom: 8%;
}
.book-your-table .book-your-table-inner-section .book-data {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3%;
}
@media screen and (max-width: 767px) {
  .book-your-table .book-your-table-inner-section .book-data {
    grid-template-columns: auto;
  }
}
.book-your-table .book-your-table-inner-section .book-data input {
  height: 60px;
  padding: 20px 20px 15px 20px;
  width: 100%;
  margin-bottom: 7%;
  border-radius: 6px;
  border: 1px solid rgb(158, 156, 156);
}
.book-your-table .book-your-table-inner-section .book-data input::-moz-placeholder {
  font-family: "Bebas Neue";
  font-size: 21px;
  font-size: 400;
  color: #3d3d3d;
}
.book-your-table .book-your-table-inner-section .book-data input:-ms-input-placeholder {
  font-family: "Bebas Neue";
  font-size: 21px;
  font-size: 400;
  color: #3d3d3d;
}
.book-your-table .book-your-table-inner-section .book-data input::placeholder {
  font-family: "Bebas Neue";
  font-size: 21px;
  font-size: 400;
  color: #3d3d3d;
}
.book-your-table .book-your-table-inner-section .book-data input[type=submit] {
  padding: 10px;
  background-color: rgb(191, 34, 34);
  font-family: "Alfa Slab One";
  font-size: 21px;
  color: white;
  cursor: pointer;
}

.book-your-table::before {
  background-image: url(../pictures/Burger\ top.png);
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
  bottom: -10%;
  right: -17%;
  width: 40%;
  height: 100%;
  -webkit-animation: rotation 20s infinite linear;
          animation: rotation 20s infinite linear;
}
@media screen and (max-width: 1399px) {
  .book-your-table::before {
    width: 100%;
  }
}

.book-your-table-inner-section::before {
  background-image: url(../pictures/Bottle.png);
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
  bottom: -13%;
  left: -35%;
  width: 40%;
  height: 100%;
}

.book-your-table::after {
  background-image: url(../pictures/Burger\ 2.png);
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  z-index: 2;
  top: -6%;
  left: -5%;
  width: 28%;
  height: 100%;
  -webkit-animation: rotation 20s infinite linear;
          animation: rotation 20s infinite linear;
}
@media screen and (max-width: 1399px) {
  .book-your-table::after {
    width: 100%;
  }
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}
.contact {
  margin-top: 5%;
  text-align: center;
}
.contact h2 {
  font-family: "Alfa Slab One";
  font-size: 50px;
  margin-bottom: 2%;
  font-style: normal;
  text-align: center;
}
.contact a {
  font-family: "Bebas Neue";
  font-size: 25px;
}

.our-story {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-style: italic;
  position: relative;
  max-width: 80%;
  font-size: 21px;
  text-align: center;
  margin: 5% auto;
  padding: 5%;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.our-story h2 {
  font-family: "Alfa Slab One";
  font-size: 50px;
  font-style: normal;
  margin-bottom: 5%;
}

.our-story::before {
  background-image: url(../pictures/Burger\ Image\ 2.png);
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
  bottom: -13%;
  left: -15%;
  width: 85%;
  height: 100%;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
}

@-webkit-keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
footer .footer {
  background-image: url(../pictures/footer/footer\ picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding-top: 5%;
  margin-bottom: 3%;
}
footer .footer .footer-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  padding: 0 5%;
}
@media screen and (max-width: 1199px) {
  footer .footer .footer-top {
    grid-template-columns: auto;
    padding: 0 2%;
  }
}
footer .footer .footer-left {
  padding-bottom: 15%;
}
footer .footer .footer-left p {
  margin: 5% 0;
}
@media screen and (max-width: 1199px) {
  footer .footer .footer-left {
    padding-bottom: 0;
  }
}
footer .footer .footer-right {
  font-size: 21px;
  font-family: "Bebas Neue";
  font-weight: 700;
  max-width: 400px;
  width: 100%;
  margin: 20% auto 0 auto;
}
@media screen and (max-width: 1199px) {
  footer .footer .footer-right {
    margin: 0 auto 5% auto;
  }
}
footer .footer .footer-right .footer-right-top {
  margin-bottom: 3%;
  display: flex;
  align-items: center;
}
footer .footer .footer-right .footer-right-bottom {
  display: flex;
  align-items: center;
}
footer .footer .footer-right a {
  color: white;
  margin-left: 2%;
}
footer .footer .copyrights .margin {
  padding-bottom: 1%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  footer .footer .copyrights .margin {
    flex-direction: column-reverse;
    text-align: center;
  }
}
footer .footer .copyrights .margin p a {
  color: white;
}
footer .footer .copyrights .margin .media a {
  margin-left: 5px;
}/*# sourceMappingURL=main.css.map */