@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alfa Slab One";
  src: url("../fonts/AlfaSlabOne-Regular.woff2") format("woff2"), url("../fonts/AlfaSlabOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: "Montserrat";
  background-color: white;
  color: #3D2514;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #3D2514;
}

header {
  background-image: url(../pictures/header/header\ picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header .top-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 5%;
}
header .top-header #logo-dark {
  height: 58px;
}
header .top-header .top-header-right {
  width: 45%;
}
header .top-header .top-header-right .top-header-right-top {
  display: flex;
  align-items: center;
  justify-content: end;
}
header .top-header .top-header-right .top-header-right-top a {
  font-weight: 700;
  font-size: 17px;
  margin-left: 2%;
}
header .top-header .top-header-right .top-header-right-bottom {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 4% 0 0 0;
}
header .top-header .top-header-right .top-header-right-bottom a {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 2px;
}
header .bottom-header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .bottom-header .bottom-header-left {
  padding-top: 10%;
}
header .bottom-header .bottom-header-left p {
  font-family: "Bebas Neue";
  font-size: 21px;
  border: 2px dashed #3D2514;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5% 1%;
}
header .bottom-header .bottom-header-left h1 {
  font-family: "Alfa Slab One";
  font-size: 100px;
  font-weight: 400;
  -webkit-text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
  -moz-text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
  text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
}
header .bottom-header .bottom-header-left h2 {
  font-family: "Alfa Slab One";
  font-size: 52px;
  font-weight: 400;
  margin-top: -1%;
  -webkit-text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
  -moz-text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
  text-shadow: 5px 4px 4px rgba(255, 255, 255, 0.75);
}
header .bottom-header .bottom-header-right {
  position: relative;
}
header .bottom-header .bottom-header-right .price-sale {
  position: absolute;
  z-index: 2;
  background-color: #bf2121;
  border-radius: 50%;
  padding: 2%;
  bottom: 20%;
  left: 15%;
  transform: translate(-15%, -20%);
}
header .bottom-header .bottom-header-right .price-sale .price {
  border: 2px dashed white;
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 30px;
  color: white;
  border-radius: 50%;
  padding: 30px;
  text-align: center;
}
header .bottom-header .bottom-header-right .price-sale .price b {
  font-size: 50px;
}
header .bottom-header .bottom-header-right .price-sale .price span {
  display: flex;
  justify-content: space-between;
}
header .bottom-header .bottom-header-right .price-sale .price span i {
  font-style: normal;
}
header .bottom-header .bottom-header-right img {
  bottom: 20%;
  position: relative;
  max-width: 100%;
  left: 20%;
  transform: translate(-20%);
}/*# sourceMappingURL=main.css.map */